<article class='card'>
	<div class='card__image'>
		<img
			width='302'
			height='302'
			src='./images/equilibrium.jpg'
			alt='Equilibrium'
		/>
	</div>
	<div class='card__content'>
		<h2 class='card__title'>
			<a href='#' class='btn btn--link'>Equilibrium #3429</a>
		</h2>
		<p class='card__desc'>
			Our Equilibrium collection promotes balance and calm.
		</p>
		<ul class='card__stats-list'>
			<li class='card__stats-list-item'>
				<i class='icon-ethereum' aria-hidden='true'></i>
				<span>0.041 ETH</span>
			</li>
			<li class='card__stats-list-item'>
				<i class='icon-clock' aria-hidden='true'></i>
				<span>3 days left</span>
			</li>
		</ul>
		<div class='card__author'>
			<img
				class='card__author-img'
				width='33'
				height='33'
				src='./images/avatar.png'
				alt='Jules Wyvern'
			/>
			<span class='card__author-desc'>Creation of
				<a href='#' class='btn btn--link'>Jules Wyvern</a></span>
		</div>
	</div>
</article>